#panel {
  width: 100vw;
  height: 40vh;
  max-height: 30rem;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  top: 0;

  color: rgba(255, 187, 187, 0.801);
}

#background {
  width: 100%;
  height: 100%;
  max-height: 30rem;
  position: absolute;
}

#background::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgb(19, 19, 19);
}

#description {
  z-index: 10;
  text-align: center;
  pointer-events: none;

  h1,
  h2 {
    margin: 0;
  }

  h2 {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    color: #ffe3e3;

    .rotating-text-wrapper {
      position: relative;
      overflow: hidden;
      background-color: rgba(216, 0, 0, 0.2);
      border-radius: 0.5rem;
      padding: 0 0.5rem;
      color: #f3c1c1;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    .rotating-text-measure {
      position: absolute;
      visibility: hidden;
      white-space: nowrap;
      pointer-events: none;
    }

    .rotating-text {
      text-align: center;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }
}
