#panel {
  width: 100vw;
  height: 40vh;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;

  color: rgba(255, 187, 249, 0.801);
}

#background {
  width: 100%;
  height: 100%;
  position: absolute;
  border-bottom: 3px solid rgb(19, 19, 19);
}

#description {
  z-index: 10;
  text-align: center;

  h1,
  h2 {
    margin: 0;
  }

  h2 {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    color: #ffe3fb;

    .rotating-text {
      width: 120px;
      overflow: hidden;
      background-color: rgba(209, 0, 216, 0.2);
      border-radius: 0.5rem;
      padding: 0 0.5rem;
      color: #f3c1eb;

      text-align: center;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }
}

