#projects {
  height: 60vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  overflow: visible;
  clip-path: inset(0 -100px 0 0);
  .projects-text {
    width: 50%;
  }

  img {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }

  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    padding: 0 1rem;

    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

#window-buttons {
  display: flex;
  gap: 0.5rem;
  margin-right: 2rem;

  div {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    border: 1px solid;
  }

  div:nth-child(1) {
    background-color: #ff5f56;
    border-color: #e0443e;
  }

  div:nth-child(2) {
    background-color: #ffbd2e;
    border-color: #dea823;
  }

  div:nth-child(3) {
    background-color: #27ca3f;
    border-color: #1aab29;
  }
}
