#myself-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  width: 70vw;
  max-width: 80rem;
  margin: 2rem 0;

  #myself-text {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 7rem;

    line-height: 0.8;

    .scrambled-text {
      /* width: 40vw; */
      margin: 0;

      white-space: normal;
      overflow-wrap: break-word;
      word-break: normal;

      text-align: left;
    }
  }

  #myself-img {
    height: 36rem;
    min-width: 20rem;

    position: relative;
    border-radius: 0.5rem;

    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    #myself-background {
      position: absolute;
      inset: 0;
      transform: translateY(3rem);
    }

    #myself {
      position: absolute;
      inset: 0;
      object-fit: contain;
      transition: 1s ease;

      transform: translateY(3rem);
    }

    #myself:hover {
      transform: translateY(1rem);
    }
  }

  .myself-sword-detail {
    height: 40rem;
    width: 10rem;
    object-fit: cover;
    filter: invert(1);
    opacity: 0.1;
    pointer-events: none;
  }
}
