#current-job {
  position: relative;

  width: 100vw;

  display: flex;
  justify-content: flex-end;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(100% - 20rem);
    transform: translateX(-50%);
    border-top: 3px solid rgb(27, 27, 27);
    z-index: 99;
  }

  #current-job-text {
    max-width: 38rem;
    right: 30rem;
    top: 10rem;
    padding: 10rem 22rem 0 0;
    text-align: end;
  }

  #lanyard-object {
    position: absolute;
    left: 0;
    z-index: 9;

    width: 100%;
  }

  .company-description {
    font-size: 0.9rem;
    opacity: 0.9;
  }

  .contract-info {
    font-size: 0.8rem;
    opacity: 0.5;
  }
}
