#main {
  display: flex;
  flex-direction: column;
  gap: 9rem;

  align-items: center;
  justify-content: center;
}

#projects-job-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {
  #main {
    gap: 6rem;
  }
}

@media (max-width: 768px) {
  #main {
    gap: 4rem;
  }
}

@media (max-width: 480px) {
  #main {
    gap: 3rem;
  }
}
