#main {
  display: flex;
  flex-direction: column;
  gap: 9rem;

  align-items: center;
  justify-content: center;
}

#projects-job-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
