#welcome-text {
  font-size: 1.5rem;
  font-weight: bold;

  color: rgb(151, 151, 151);

  max-width: 40rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 0.9rem;
    font-weight: normal;
  }
}
