#welcome-text {
  font-size: 1.5rem;
  font-weight: bold;

  margin-top: 20rem;

  color: rgb(151, 151, 151);

  width: 30rem;
  text-align: center;
  p {
    font-size: 1rem;
    font-weight: normal;
  }
}

