.projects-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

#bento {
  /* position: relative; */

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: rebeccapurple; */
  width: 100vw;
}
