#error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  gap: 1rem;

  p {
    color: #bebebe;
  }

  button {
    padding: 1rem 2rem;
    border: transparent;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: #5f5f5f;
    }
  }
}
